body
{
	opacity: 100%;
    font-family: Arial, Helvetica, sans-serif;
	margin: 30;
	padding: 30;
    background-color: #000000;
}

strong
{
    color: #ffffff;
    border-color: #ffffff;
    border-bottom: 1px;
}

p
{
    color: #cccccc;
}

a
{
    text-decoration: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
	border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb {
	background: rgb(255,255,255);
	border-radius: 10px;
    border: 1px solid rgb(255,255,255);
}